page-services {
    .banner{
        height: 30vh;
        width: 100%;
    }

    .slide-title{
        position: absolute; 
        top: 7px; 
        left: 0; 
        width: 100%;        
    }

    .button-ios-rounded {
        display: block;        
        position: relative;
        width: 125px;
        height: 125px;
      
        line-height: 10px;
        text-align: center;
    }

    label{
        color: black;
        padding-top: 10px;
    }      
}
