<!--
  Generated template for the ServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Portafolio de Servicios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  
  <!-- Slider with images of main services -->
  <div class="banner">

    <ion-slides pager autoplay="2000" loop="true" speed="2000">

      <ion-slide *ngFor="let slide of slides">
        <!-- <h4 [innerHTML]="slide.title" class="slide-title"></h4>  -->
        <img [src]="slide.image" style="display:block;width:auto;height:auto;margin-left:auto;margin-right:auto;" />

      </ion-slide>
    </ion-slides>

  </div>

  <!-- Search bar -->
  <ion-searchbar (ionInput)="getItems($event)" (ionClear)="onClear($event)" (ionCancel)="onCancel($event)" placeholder="Buscar Servicio"></ion-searchbar>

  <!-- Grid with services' Categories-->
  <div class="categories" padding *ngIf="isValid;else other_content">

    <ion-grid>
      <!-- First Row -->
      <ion-row>
        <ion-col col-6>
          <button ion-button clear full (click)="openItem('Servicios Ambulatorios')"  class="button-ios-rounded" text-center>
            <div>
              <div>
                <i class="fas fa-stethoscope fa-3x" style="color:#634ED1"></i>
              </div>
              <label text-wrap>Servicios ambulatorios</label>
            </div>
          </button>
        </ion-col>
        
        <ion-row>
          <ion-col col-6>
            <button ion-button clear full (click)="openItem('Cirugía')" class="button-ios-rounded" text-center>
              <div>
                <div>
                  <i class="fas fa-heartbeat fa-3x" style="color:#20CE99"></i>
                </div>
                <label text-wrap>Cirugía</label>
              </div>
            </button>
          </ion-col>     
        
      </ion-row>

      <!-- Second Row -->

      <ion-col col-6>
        <button ion-button clear full (click)="openItem('Hospitalización')" class="button-ios-rounded" text-center>
          <div>
            <div>
              <i class="fas fa-bed fa-3x" style="color:#29A5FF"></i>
            </div>
            <label text-wrap>Hospitalización</label>
          </div>
        </button>
      </ion-col>         
        
        <ion-col col-6>
          <button ion-button clear full (click)="openUrgencies('Servicio de Urgencias')" class="button-ios-rounded" text-center>
            <div>
              <div>
                <i class="fas fa-ambulance fa-3x" style="color:#FF9D01"></i>
              </div>
              <label text-wrap>Urgencias</label>
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  
  <!-- List of services searched -->
  <ng-template #other_content>
    <ion-list>
      <button ion-item (click)="openSearchedItem(item)" *ngFor="let item of currentItems">        
        <h3>{{item.Nombre}}</h3>
        <p>{{item.Grupo}}</p>        
      </button>
    </ion-list>
  </ng-template>

</ion-content>