page-indoor-navigator-end {
    ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
         position: absolute;
        padding-right: 30px;
        padding-left: 30px;
        top: 25%;
        font-size: 2.0em;
        text-shadow: 2px 2px #242829;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
}
