<!--
  Generated template for the AppointmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Agendar Cita</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
  <!-- Search bar -->
  <ion-searchbar (ionInput)="getItems($event)" (ionClear)="onClear($event)" (ionCancel)="onCancel($event)" placeholder="Buscar Servicio"></ion-searchbar>

  <!--services' Categories-->
  <div class="Categories" *ngIf="isValid;else other_content">
    <ion-card (click)="goTo()">
      <img src="assets/img/diagnostic.jpg" />
      <div class="card-title">Ayudas Diagnosticas</div>
    </ion-card>

    <ion-card (click)="goTo()">
      <img src="assets/img/cancerology.jpg" />
      <div class="double-title">Cancerologia
        <br> Consulta Externa</div>
    </ion-card>

    <ion-card (click)="goTo()">
      <img src="assets/img/laboratory.jpg" />
      <div class="card-title">Laboratorio</div>
    </ion-card>

    <ion-card (click)="goTo()">
      <img src="assets/img/radiology.jpg" />
      <div class="card-title">Radiologia & Imagenes Dx</div>
    </ion-card>
  </div>

  <!-- List of services searched -->
  <ng-template #other_content>
      <ion-list>
        <button ion-item (click)="openSearchedItem(item)" *ngFor="let item of itemsToShow">        
          <h3>{{item.Nombre}}</h3>
          <p>{{item.Categoria}}</p>
        </button>
      </ion-list>
    </ng-template>

</ion-content>