  // Style Android buttons
.md button {
  text-transform: none;  
}

.ios button {
  text-transform: none;    
}

.square {  
  display: block;
  width: 100% !important;
  height:0 !important;
  padding: 50% 0% 50% 0% !important;
  }

label {
    flex-direction: column;
    font-size: 1em;
    font-weight: normal;
    display: block;
    padding: 0 16px;
    color: #1571ac;    
    }

