// Style Android buttons
.md button {
  text-transform: none;
  color: #1571ac; 
}

.ios button {
  text-transform: none;
  color: #1571ac;   
}

.square {  
  display: block;
  width: 100% !important;
  height:0 !important;
  padding: 42% 0% 42% 0% !important;
  }

  label {
    flex-direction: column;
    font-size: 1em;
    font-weight: normal;
    display: block;
    padding: 0 16px;
    color: #1571ac;    
    }