.card-title {    
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
}

.cifra-0{
    background-color: #F7F1D9;
    text-align: center;
    border: 1px solid #d1d2d4;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
.cifra-1{
    background-color: #97E6F5;
    text-align: center;
    border: 1px solid #d1d2d4;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
.cifra-2{
    background-color: #F6A4BB;
    text-align: center;
    border: 1px solid #d1d2d4;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
.cifra-3{
    background-color: #A8A2D2;
    text-align: center;
    border: 1px solid #d1d2d4;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
.cifra-4{
    background-color: #9672B8;
    text-align: center;
    border: 1px solid #d1d2d4;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}

/* Here goes the css info that controls thermometer */

.container {
    position: relative;
    height: 25px;
    width: 95%;
    margin: 2%;
    background: #626262;
    border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.container .thermometer
	{
		position:relative;
		height:25px;
		background:#00B0F8;
		left:0%;
		border-radius:10px 0px 0px 10px;
		-ms-border-radius:10px 0px 0px 10px;
		-moz-border-radius:10px 0px 0px 10px;
		-o-border-radius:10px 0px 0px 10px;
		-webkit-border-radius:10px 0px 0px 10px;
    }
    
    .container .porcentaje
    {
        position: relative;
        margin-top: -25px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        top: 2px;
        font-size: 17px;	
        font-weight: bold;		
		color:#fcfcfc;
    }   
    