.card-title {    
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
}

.cifra-0{
    background-color: #F7F1D9;
    text-align: center;
    border: 1px solid #d1d2d4;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
.cifra-1{
    background-color: #97E6F5;
    text-align: center;
    border: 1px solid #d1d2d4;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
.cifra-2{
    background-color: #F6A4BB;
    text-align: center;
    border: 1px solid #d1d2d4;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
.cifra-3{
    background-color: #A8A2D2;
    text-align: center;
    border: 1px solid #d1d2d4;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
.cifra-4{
    background-color: #9672B8;
    text-align: center;
    border: 1px solid #d1d2d4;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
